<html>
    <head>
        <title>VOA</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Voice of America</a></h1>
        </div>

        <div>
            <p>published: 05.08.2019, 12:00</p>
            <h2><a href="">Uganda Starts Largest-Ever Ebola Vaccine Trial</a></h2>
            <p>Uganda has started its largest Ebola vaccine trial to date, health authorities announced Monday, in an apparent effort to prevent the disease from spreading.

		           An epidemic across the border in neighboring Democratic Republic of Congo has killed over 1,800 people, making this outbreak the second-deadliest to date,
              with fatality rates nearing 70%.

		          The experimental Johnson & Johnson vaccine will be administered to health care professionals, as well as ambulance drivers, burial teams and cleaners.
              The trial is expected to last two years and cover 800 people in the Mbarara district in southwest Uganda.
		</p>
	</div>

        <div>
            <p>published: 01.08.2019, 12:00</p>
            <h2><a href="">Milky Way Map Reveals a Warped, Twisted Galaxy</a></h2>
            <p>Astronomers have created the most precise map to date of the Milky Way by tracking thousands of big pulsating stars spread throughout the galaxy, demonstrating that its disk of myriad stars is not flat but dramatically warped and twisted in shape.

		           The researchers on Thursday unveiled a three-dimensional map of the Milky Way — home to more than 100 billion stars including our sun —
               providing a comprehensive chart of its structure: a stellar disk comprised of four major spiral arms and a bar-shaped core region.

		           "For the first time, our whole galaxy — from edge to edge of the disk — was mapped using real, precise distances,"
               said University of Warsaw astronomer Andrzej Udalski, co-author of the study published in the journal Science.

		           Until now, the understanding of the galaxy's shape had been based upon indirect measurements of celestial landmarks
               within the Milky Way and inferences from structures observed in other galaxies populating the universe.
               The new map was formulated using precise measurements of the distance from the sun to 2,400 stars called "Cepheid variables" scattered throughout the galaxy.
		</p>
        </div>
    </body>
</html>
